body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:90px;
}
#u1023 {
  position:absolute;
  left:123px;
  top:181px;
  width:1072px;
  height:90px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:37px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:112px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:112px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:48px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 90, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  position:absolute;
  left:0px;
  top:113px;
  width:1360px;
  height:48px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:16px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:44px;
  background:inherit;
  background-color:rgba(5, 66, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:123px;
  top:227px;
  width:230px;
  height:44px;
  opacity:0.85;
  font-size:16px;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1031 {
  position:absolute;
  left:136px;
  top:283px;
  width:171px;
  height:17px;
  color:#666666;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:2px;
}
#u1033 {
  position:absolute;
  left:123px;
  top:315px;
  width:1072px;
  height:1px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:122px;
  top:114px;
  width:840px;
  height:47px;
}
#u1035_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:846px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:52px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1037_img.mouseOver {
}
#u1037.mouseOver {
}
#u1038 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1039 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1039_img.mouseOver {
}
#u1039.mouseOver {
}
#u1040 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1041 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1041_img.mouseOver {
}
#u1041.mouseOver {
}
#u1042 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1043 {
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1043_img.mouseOver {
}
#u1043.mouseOver {
}
#u1044 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1045 {
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1045_img.mouseOver {
}
#u1045.mouseOver {
}
#u1046 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1047 {
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1047_img.mouseOver {
}
#u1047.mouseOver {
}
#u1048 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u1049 {
  position:absolute;
  left:720px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u1049_img.mouseOver {
}
#u1049.mouseOver {
}
#u1050 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:240px;
  top:47px;
  width:120px;
  height:80px;
  visibility:hidden;
}
#u1051_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:85px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1053_img.mouseOver {
}
#u1053.mouseOver {
}
#u1054 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1055_img.mouseOver {
}
#u1055.mouseOver {
}
#u1056 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1057 {
  position:absolute;
  left:120px;
  top:47px;
  width:120px;
  height:160px;
  visibility:hidden;
}
#u1057_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:165px;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1059_img.mouseOver {
}
#u1059.mouseOver {
}
#u1060 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1061_img.mouseOver {
}
#u1061.mouseOver {
}
#u1062 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1063_img.mouseOver {
}
#u1063.mouseOver {
}
#u1064 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1065_img.mouseOver {
}
#u1065.mouseOver {
}
#u1066 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:28px;
  background:inherit;
  background-color:rgba(43, 105, 177, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:1008px;
  top:122px;
  width:190px;
  height:28px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1069 {
  position:absolute;
  left:1171px;
  top:122px;
  width:28px;
  height:28px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1071 {
  position:absolute;
  left:150px;
  top:351px;
  width:1019px;
  height:635px;
  line-height:28px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:0px;
  top:1132px;
  width:1360px;
  height:190px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:87px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:115px;
}
#u1075 {
  position:absolute;
  left:592px;
  top:1170px;
  width:159px;
  height:115px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:50px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u1077 {
  position:absolute;
  left:779px;
  top:1185px;
  width:300px;
  height:84px;
  font-size:14px;
  line-height:28px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:126px;
}
#u1079 {
  position:absolute;
  left:551px;
  top:1165px;
  width:1px;
  height:125px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:63px;
}
#u1081 {
  position:absolute;
  left:185px;
  top:1196px;
  width:330px;
  height:63px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:24px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
