body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:90px;
}
#u553 {
  position:absolute;
  left:123px;
  top:181px;
  width:1072px;
  height:90px;
}
#u554 {
  position:absolute;
  left:2px;
  top:37px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:112px;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:112px;
}
#u556 {
  position:absolute;
  left:2px;
  top:48px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 90, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  position:absolute;
  left:0px;
  top:113px;
  width:1360px;
  height:48px;
}
#u558 {
  position:absolute;
  left:2px;
  top:16px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:44px;
  background:inherit;
  background-color:rgba(5, 66, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u559 {
  position:absolute;
  left:123px;
  top:227px;
  width:230px;
  height:44px;
  opacity:0.85;
  font-size:16px;
  color:#FFFFFF;
}
#u560 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u561 {
  position:absolute;
  left:382px;
  top:283px;
  width:171px;
  height:17px;
  color:#666666;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:813px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  position:absolute;
  left:123px;
  top:271px;
  width:230px;
  height:813px;
}
#u564 {
  position:absolute;
  left:2px;
  top:398px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565 {
  position:absolute;
  left:123px;
  top:272px;
  width:235px;
  height:169px;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
}
#u566 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#115AB0;
}
#u567 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
}
#u568 {
  position:absolute;
  left:0px;
  top:42px;
  width:230px;
  height:42px;
}
#u568_img.mouseOver {
}
#u568.mouseOver {
}
#u569 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u570 {
  position:absolute;
  left:0px;
  top:84px;
  width:230px;
  height:40px;
}
#u571 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u572 {
  position:absolute;
  left:0px;
  top:124px;
  width:230px;
  height:40px;
}
#u573 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u574 {
  position:absolute;
  left:508px;
  top:338px;
  width:372px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u574_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u574.mouseOver {
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u576 {
  position:absolute;
  left:382px;
  top:445px;
  width:813px;
  height:1px;
}
#u577 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:20px;
}
#u578 {
  position:absolute;
  left:508px;
  top:367px;
  width:671px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u580 {
  position:absolute;
  left:382px;
  top:315px;
  width:813px;
  height:1px;
}
#u581 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u582 {
  position:absolute;
  left:508px;
  top:468px;
  width:644px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u582_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u582.mouseOver {
}
#u583 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  white-space:nowrap;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:20px;
}
#u584 {
  position:absolute;
  left:508px;
  top:497px;
  width:671px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u586 {
  position:absolute;
  left:508px;
  top:598px;
  width:276px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u586_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u586.mouseOver {
}
#u587 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u588 {
  position:absolute;
  left:382px;
  top:705px;
  width:813px;
  height:1px;
}
#u589 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:20px;
}
#u590 {
  position:absolute;
  left:508px;
  top:627px;
  width:671px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u592 {
  position:absolute;
  left:382px;
  top:576px;
  width:813px;
  height:1px;
}
#u593 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u594 {
  position:absolute;
  left:508px;
  top:728px;
  width:298px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u594_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u594.mouseOver {
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u596 {
  position:absolute;
  left:382px;
  top:835px;
  width:813px;
  height:1px;
}
#u597 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:20px;
}
#u598 {
  position:absolute;
  left:508px;
  top:757px;
  width:671px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 133, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  position:absolute;
  left:347px;
  top:272px;
  width:5px;
  height:40px;
}
#u601 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:33px;
}
#u602 {
  position:absolute;
  left:508px;
  top:990px;
  width:284px;
  height:33px;
}
#u603 {
  position:absolute;
  left:2px;
  top:8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604 {
  position:absolute;
  left:122px;
  top:114px;
  width:840px;
  height:47px;
}
#u604_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:846px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:52px;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u606_img.mouseOver {
}
#u606.mouseOver {
}
#u607 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u608 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u608_img.mouseOver {
}
#u608.mouseOver {
}
#u609 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u610 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u610_img.mouseOver {
}
#u610.mouseOver {
}
#u611 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u612 {
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u612_img.mouseOver {
}
#u612.mouseOver {
}
#u613 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u614 {
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u614_img.mouseOver {
}
#u614.mouseOver {
}
#u615 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u616 {
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u616_img.mouseOver {
}
#u616.mouseOver {
}
#u617 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u618 {
  position:absolute;
  left:720px;
  top:0px;
  width:120px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u618_img.mouseOver {
}
#u618.mouseOver {
}
#u619 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u620 {
  position:absolute;
  left:240px;
  top:47px;
  width:120px;
  height:80px;
  visibility:hidden;
}
#u620_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:85px;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u622_img.mouseOver {
}
#u622.mouseOver {
}
#u623 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u624 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u624_img.mouseOver {
}
#u624.mouseOver {
}
#u625 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:120px;
  top:47px;
  width:120px;
  height:160px;
  visibility:hidden;
}
#u626_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:165px;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u628_img.mouseOver {
}
#u628.mouseOver {
}
#u629 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u630 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u630_img.mouseOver {
}
#u630.mouseOver {
}
#u631 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u632 {
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u632_img.mouseOver {
}
#u632.mouseOver {
}
#u633 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u634 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u634_img.mouseOver {
}
#u634.mouseOver {
}
#u635 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:28px;
  background:inherit;
  background-color:rgba(43, 105, 177, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  position:absolute;
  left:1008px;
  top:122px;
  width:190px;
  height:28px;
}
#u637 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u638 {
  position:absolute;
  left:1171px;
  top:122px;
  width:28px;
  height:28px;
}
#u639 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u640 {
  position:absolute;
  left:508px;
  top:858px;
  width:244px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u640_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u640.mouseOver {
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u642 {
  position:absolute;
  left:382px;
  top:965px;
  width:813px;
  height:1px;
}
#u643 {
  position:absolute;
  left:2px;
  top:-8px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:20px;
}
#u644 {
  position:absolute;
  left:508px;
  top:887px;
  width:671px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D509E;
}
#u646 {
  position:absolute;
  left:392px;
  top:338px;
  width:98px;
  height:89px;
  color:#0D509E;
}
#u647 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D509E;
}
#u648 {
  position:absolute;
  left:392px;
  top:468px;
  width:98px;
  height:89px;
  color:#0D509E;
}
#u649 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D509E;
}
#u650 {
  position:absolute;
  left:392px;
  top:596px;
  width:98px;
  height:89px;
  color:#0D509E;
}
#u651 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D509E;
}
#u652 {
  position:absolute;
  left:392px;
  top:726px;
  width:98px;
  height:89px;
  color:#0D509E;
}
#u653 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D509E;
}
#u654 {
  position:absolute;
  left:392px;
  top:857px;
  width:98px;
  height:89px;
  color:#0D509E;
}
#u655 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:0px;
  top:1112px;
  width:1360px;
  height:190px;
}
#u657 {
  position:absolute;
  left:2px;
  top:87px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:115px;
}
#u658 {
  position:absolute;
  left:592px;
  top:1150px;
  width:159px;
  height:115px;
}
#u659 {
  position:absolute;
  left:2px;
  top:50px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u660 {
  position:absolute;
  left:779px;
  top:1165px;
  width:300px;
  height:84px;
  font-size:14px;
  line-height:28px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:126px;
}
#u662 {
  position:absolute;
  left:551px;
  top:1145px;
  width:1px;
  height:125px;
}
#u663 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:63px;
}
#u664 {
  position:absolute;
  left:185px;
  top:1176px;
  width:330px;
  height:63px;
}
#u665 {
  position:absolute;
  left:2px;
  top:24px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
